.title {
    color: #333;
    padding-top: 1%;
    padding-left: 2%;
    font-size: 30px;
    font-weight: bold;
}

.ul-navbar {
    display: flex;
    font-family:georgia;
}

.li-navbar {
    list-style-type: none;
    font-size: 20px;
    color: blueviolet;
    justify-items: right;
    margin: 10px;
    text-decoration-line: none;
    font-weight: bold;
}

.navbar-home{
    padding-left: 60%;
    padding-top: 45px;
}

.img-link{
    text-decoration-line: none;
}